p{
	font-family: '微软雅黑';
}
.s_button{
	opacity:0.5;
	z-index:10;
	position:absolute;
	border:3px solid #000;
	display:none;
}
#left{
	z-index:200;
	background:#fff;
	position:fixed;
	left:-2px;
	top:20px;
	width:150px;
	height:600px;
}
#right{
	z-index:200;
	background:#fff;
	position:fixed;
	left:952px;
	top:20px;
	width:800px;
	height:600px;
}
#overViewCanvas{
	z-index:210;
	position:absolute;
	float:left;
	left:10px;
	top:0px;
}
#timeShow{
	z-index:200;
	position:absolute;
	left:10px;
	top:180px;
	font-family:'微软雅黑';
	font-size:20px;
	display:none;
}
#task{
	z-index:200;
	position:absolute;
	left:10px;
	top:230px;
	font-family:'微软雅黑';
	font-size:20px;
	display:none;
}
#fail{
	opacity:0.6;
	z-index:100;
	position:absolute;
	left:300px;
	height:50px;
	width:150px;
	top:270px;
	display:none;
}
#mainCanvas{
	border:1px solid #000;
}
#title{
	opacity:0.8;
	z-index:10;
	position:absolute;
	height:80px;
	width:300px;
	left:250px;
	top:40px;
}
#start{
	opacity:0.5;
	z-index:10;
	position:absolute;
	height:40px;
	width:150px;
	left:325px;
	top:270px;
	border:3px solid #000;
}
#rule{
	opacity:0.5;
	z-index:10;
	position:absolute;
	height:40px;
	width:150px;
	left:325px;
	top:340px;
	border:3px solid #000;
}
#s1{
	height:40px;
	width:50px;
	left:375px;
	top:120px;
}
#s2{
	height:40px;
	width:50px;
	left:375px;
	top:180px;
}
#s3{
	height:40px;
	width:50px;
	left:375px;
	top:240px;
}
#s4{
	height:40px;
	width:150px;
	left:325px;
	top:300px;
}
#sr{
	height:40px;
	width:150px;
	left:325px;
	top:360px;
}
#sback{
	height:40px;
	width:100px;
	left:350px;
	top:420px;
}
#help{
	position:absolute;
	top:20%;
	left:20%;
	width:400px;
	height:400px;
	z-index:99;
	background:#fff;
	border:1px solid #000;
	text-align:center;
	display:none;
}
#backToMain{
	margin-top:10px;
	opacity:0.5;
	z-index:99;
	height:40px;
	width:80px;
	border:3px solid #000;
}